/* =========================
   BASIC
========================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* =========================
   MAIN PAGE GRID
========================= */

.page {
    display: grid;

    /* Sidebar + Main */
    grid-template-columns: 240px 1fr;

    min-height: 100vh;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    background: #E3F2FD;

    padding: 20px;

    /* Sidebar occupies the full height */
    min-height: 100vh;
}

.logo {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    background: white;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    padding: 12px;

    text-decoration: none;
    color: #0D47A1;

    border-radius: 5px;
}

nav a:hover {
    background: #2196F3;
    color: white;
}


/* =========================
   MAIN CONTENT
========================= */

.main {
    padding: 20px;

    display: grid;

    gap: 30px;
}


/* =========================
   HERO
========================= */

.hero {
    display: grid;

    grid-template-columns: 1fr auto;

    align-items: center;

    min-height: 80px;
}

.hero h1 {
    margin: 0;
    font-size: 40px;
}

.last-updated {
    padding: 10px 20px;

    background: #E3F2FD;
}


/* =========================
   SECTION
========================= */

.section {
    display: grid;

    gap: 15px;
}

.section h2 {
    margin: 0;

    font-size: 32px;

    border-bottom: 4px solid #0D47A1;

    padding-bottom: 10px;
}


/* =========================
   CARDS GRID
========================= */

.cards {
    display: grid;

    /* 4 equal columns */
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}
.liquid_o2_cards {
    display: grid;

    /* 4 equal columns */
    grid-template-columns: repeat(2, 1fr);

    gap: 10px;
}
.filter_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.filter_instance_date{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
/* =========================
   CARD
========================= */

.card {
    min-height: 150px;

    padding: 15px;

    background: #E3F2FD;

    border-radius: 8px;

    text-align: center;
}

.card h3 {
    margin-top: 0;
}

.card-image {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #2196F3;

    color: white;
}

.filter_card_bg {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #E3F2FD;

    color: white;
}

/* =========================
   IMPORT
========================= */

.import-box {
    min-height: 260px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 30px;

    background: #E3F2FD;

    border: 3px dashed #2196F3;

    border-radius: 10px;

    text-align: center;
}

.upload-icon {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;

    background: #2196F3;

    color: white;

    border-radius: 50%;

    font-size: 32px;
}

.import-box h3 {
    margin: 5px 0;

    color: #0D47A1;

    font-size: 22px;
}

.import-box p {
    margin: 8px 0;
}

.file-info {
    font-size: 14px;

    color: #555;
}


/* =========================
   BROWSE BUTTON
========================= */

.browse-button {
    padding: 12px 25px;

    border: none;

    border-radius: 6px;

    background: #2196F3;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

.browse-button:hover {
    background: #0D47A1;
}


/* =========================
   EXPORT
========================= */

.export-box {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 25px;

    background: #E3F2FD;

    border-radius: 10px;
}

.export-info h3 {
    margin: 0 0 8px 0;

    color: #0D47A1;
}

.export-info p {
    margin: 0;

    color: #555;
}

.export-button {
    padding: 12px 25px;

    border: none;

    border-radius: 6px;

    background: #2196F3;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

.export-button:hover {
    background: #0D47A1;
}

.location-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-list p {
    display: grid;
    grid-template-columns: 220px 20px 50px;
    width: 290px;
    margin: 8px 0;
}

.location-list p span:first-child {
    text-align: left;
}

.location-list p span:nth-child(2) {
    text-align: center;
}

.location-list p strong {
    text-align: left;
}

/*circular progress bar*/

.circular-progress {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.circular-progress svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.circular-progress circle {
    fill: none;
    stroke-width: 10;
}

.progress-bg {
    stroke: #D9D9D9
}

.progress-bar {
    stroke: #2196F3;
    stroke-linecap: round;

    stroke-dasharray: 251.2;
    stroke-dashoffset: 251.2;

    transition: stroke-dashoffset 0.5s ease;
}

.circular-progress span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 24px;
    font-weight: bold;
}

/* ========================================
   LOGIN
======================================== */

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 500px;
}

.login-card {
    width: 350px;

    background: white;

    padding: 35px;

    border-radius: 12px;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.10);

    text-align: center;
}

.login-card h2 {
    margin-bottom: 8px;

    color: #0D47A1;
}

.login-subtitle {
    margin-bottom: 25px;

    color: #666;
}


/* INPUT */

.login-input-group {
    text-align: left;

    margin-bottom: 18px;
}

.login-input-group label {
    display: block;

    margin-bottom: 6px;

    font-weight: bold;
}

.login-input-group input {
    width: 100%;

    box-sizing: border-box;

    padding: 11px;

    border: 1px solid #ccc;

    border-radius: 6px;

    font-size: 15px;
}

.login-input-group input:focus {
    outline: none;

    border-color: #2196F3;

    box-shadow:
        0 0 0 2px #E3F2FD;
}


/* BUTTON */

.login-button {
    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 6px;

    background: #2196F3;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.login-button:hover {
    background: #0D47A1;
}


/* MESSAGE */

.login-message {
    min-height: 20px;

    margin-top: 15px;

    font-size: 14px;
}

/* ========================================
   HISTORY DATE FILTER
======================================== */

label {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 15px;
    font-weight: 600;
    color: #0D47A1;
}

input[type="date"] {
    padding: 8px 12px;

    border: 1px solid #90CAF9;
    border-radius: 6px;

    background-color: #E3F2FD;
    color: #0D47A1;

    font-size: 14px;

    outline: none;

    cursor: pointer;
}


/* Hover */
input[type="date"]:hover {
    border-color: #2196F3;
}


/* When selected */
input[type="date"]:focus {
    border-color: #2196F3;

    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.15);
}

/* ========================================
   GUEST LOGIN
======================================== */

.guest-login {
    text-align: center;
    margin-top: 15px;
}

.guest-login a {
    color: #2196F3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.guest-login a:hover {
    color: #0D47A1;
    text-decoration: underline;
}